@font-face {
  font-family: "OpenSans";
  src : url("../fonts/OpenSansRegular.woff");
  src : url("../fonts/OpenSansRegular.eot");
  src : url("../fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: "PTSans";
  src : url("../fonts/PTSansRegular.woff");
  src : url("../fonts/PTSansRegular.eot");
  src : url("../fonts/PTSansRegular.ttf");
}